.case-study {
    margin-top: 0;
}

.emphasized {
    font-family: 'Kalam', cursive;
    color: var(--blue);
    font-weight: 600;
    font-size: 1.7rem;
}

.hidden {
    display: none;
}

.list {
    width: 100%;
    font-size: 1.6rem;
}

.list-item {
    width: clamp(50%, 60ch, 90%);
    margin-top: 1.5rem;
    margin-left: 3rem;
    line-height: 3rem;
    font-weight: 600;
}

.scroll-to-top {
    text-align: center;
    width: 4rem;
    height: 4rem;
    position: fixed;
    top: 85vh;
    right: 5%;
    font-size: 3rem;
    border: none;
    border-radius: 50%;
    color: var(--white);
    background-color: hsla(217, 67%, 48%, 90%);
    padding: 1rem;
    box-shadow: 0 .2rem 1rem hsla(0, 0%, 15%, 20%);
    z-index: 9999;
}

.scroll-to-top:hover {
    cursor: pointer;
    transform: translateY(-.5rem);
}

/* Intrapage Navigation */
.intrapage-nav {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    border-bottom: 1px solid var(--gray-light);
    margin-top: -.4rem;
}

.intrapage-nav__link-list {
    margin: 0;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    overflow-x: scroll;
}

.intrapage-nav__link {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 0;
    padding: 2rem;
    flex-grow: 1;
    text-align: center;
}

.intrapage-nav__link:hover {
    color: var(--blue);
    background-color: var(--blue-light);
    cursor: pointer;
}

/* Text */
h1, h2, h3, h4 {
    font-weight: 600;
    letter-spacing: -5%;
}

.project-title {
    font-size: 2.2rem;
    color: var(--black);
    margin-top: 5rem;
    text-align: center;
}

.section__title {
    color: var(--blue);
}

.problem-statement {
    background-color: var(--gray-light);
    color: var(--black);
    border-radius: .5rem;
    margin: 0;
}

.problem-statement__text {
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 3rem;
}

.summary-title {
    font-size: 1.6rem;
    color: var(--black);
}

.summary-paragraph {
    font-size: 1.6rem;
    color: var(--dark-gray);
    line-height: 3rem;
    margin-top: 1rem;
    padding-right: 5rem;
}

.subsection__title {
    text-align: left;
    color: var(--black);
}

.section__title {
    text-align: left;
}

.section__title, .subsection__title {
    font-size: clamp(1.2rem, 4vw, 2rem);
}

.main-paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    line-height: 3.5rem;
}

.process-step__title {
    font-size: 1.5rem;
    color: var(--blue);
}

.process-step__description {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -5%;
    color: var(--blue);
    margin-top: 2rem;
}

.process-step__title, .process-step__description {
    line-height: 3rem;
}

.process-step__image-caption {
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
    color: var(--black);
    text-align: center;
    margin-top: 1rem;
}

/* Media */
.project-banner {
    width: 100vw;
}

.project-banner__image {
    width: 100%;
    max-width: 200rem;
}

.main-image {
    width: 100%;
    box-shadow: 0 .4rem 1rem var(--gray-light);
    visibility: hidden;
}

.process-step__image-container {
    width: 50%;
}

.process-step__image-image {
    width: 100%;
}

/* Elements */
.summary-box {
    justify-content: center;
    align-items: flex-start;
}

.summary-section:first-of-type {
    width: 75%;
}

.case-study__section {
    width: 100%;
    margin-top: 5rem;
}

.case-study__section > * {
    width: 100%;
}

.case-study__section > *:not(:first-child) {
    margin-top: 3rem;
}

.process-step {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.process-step__info {
    margin-right: 5%;
    padding: 2rem;
    width: 45%;
    background-color: var(--blue-light);
    border-radius: .5rem;
    border: .1rem solid var(--blue);
}

@media (max-width: 749px) {
    .intrapage-nav::after {
        content: "Scroll →";
        font-family: 'Kalam', cursive;
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--blue);
        margin: .5rem 1rem 0 0;
        float: right;
        clear: both;
    }
    
    /* Text */
    .summary-title {
        font-size: 1.4rem;
    }
    
    .summary-paragraph {
        font-size: 1.6rem;
        padding: 0;
        line-height: 3rem;
    }

    .summary-section:first-of-type {
        width: 100%;
    }

    .main-paragraph {
        font-size: 1.45rem;
        line-height: 3rem;
    }

    /* Media */
    .process-step__image-container {
        width: 100%;
        margin-top: 2rem;
    }

    /* Elements */
    .summary-box {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .summary-box > *:not(:first-of-type) {
        margin-top: 2rem;
    }

    .process-step {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .process-step__info {
        width: 100%;
    }
    
    .process-step__info > * {
        padding: 0 10%;
    }

    .process-step__title, .process-step__description, .process-step__image-caption {
        font-size: 1.45rem;
    }
    
    .process-step__title, .process-step__description {
        line-height: 3.2rem;
    }
}