.case-study {
    width: 100%;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}

.emphasized {
    color: var(--blue);
    /* text-decoration: var(--blue) underline .2rem;
    text-underline-offset: .5rem;
    font-weight: 600; */
}

.list {
    width: 50%;
    font-size: 1.6rem;
    margin: 0 auto 1.6rem;
}

.list-item {
    width: clamp(50%, 60ch, 90%);
    margin-top: 1.5rem;
    margin-left: 3rem;
    line-height: 2.8rem;
    font-weight: 400;
}

.scroll-to-top {
    text-align: center;
    width: 4rem;
    height: 4rem;
    position: fixed;
    top: 85vh;
    right: 5%;
    font-size: 3rem;
    border: none;
    border-radius: 50%;
    color: var(--white);
    background-color: hsla(217, 67%, 48%, 90%);
    padding: 1rem;
    box-shadow: 0 .2rem 1rem hsla(0, 0%, 15%, 20%);
    z-index: 9999;
    transition: transform ease 200ms;
}

.scroll-to-top:hover {
    cursor: pointer;
    transform: translateY(-.5rem);
    transition: transform ease-in-out 200ms;
}

.scroll-to-top:focus {
    border: .2rem dashed var(--white);
}

/* Intrapage Navigation */
.intrapage-nav {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    /* margin-top: -.4rem; */
}

.intrapage-nav__link-list {
    margin: 0;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    overflow-x: scroll;
}

.intrapage-nav__link {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 0;
    padding: 2rem;
    flex-grow: 1;
    text-align: center;
    transition: all ease-in 150ms;
}

.intrapage-nav__link:hover {
    color: var(--blue);
    background-color: var(--blue-light);
    cursor: pointer;
}

.intrapage-nav__link:focus {
    border: .2rem dashed var(--blue);
}

/* Text */
h1, h2, h3, h4 {
    font-weight: 600;
    letter-spacing: -5%;
}

.project-title {
    font-size: clamp(1.6rem, 3vw, 2rem);
    color: var(--black);
    margin: 4rem 0 2rem;
    text-align: center;
}

.home-backlink {
    font-size: clamp(1.4rem, 2.4vw, 2rem);
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}

.home-backlink a {
    font-weight: 600;
}

.section__title, .subsection__title {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: left;
    letter-spacing: -5%;
    width: 50%;
    color: var(--black)
}

.section__title {
    margin: 2.4rem auto;
    text-align: center;
    text-transform: uppercase;
}

.subsection__title{
    margin: 4rem auto 1.6rem;
}

.main-paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    line-height: 3rem;
    width: 50%;
    max-width: 70ch;
    margin: 0 auto;
    letter-spacing: -.02rem;
}

.main-paragraph + .main-paragraph {
    margin-top: 1.6rem;
}

/* Media */
.project-banner {
    width: 100%;
    max-width: 200rem;
    margin: 2rem auto 0;
    border-radius: .2rem;
    overflow: hidden;
}

.project-banner__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.idea-box {
    width: 50%;
    margin: 2.4rem auto;
}

.idea-box__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1rem solid #E6E6E6;
    border-radius: .4rem;
    padding: 2rem 4rem;
}

.idea-box__img-container img {
    max-width: 100%;
}

.idea-box__caption {
    display: flex;
    align-items: flex-start;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    color: var(--black);
    font-weight: 600;
    line-height: clamp(1.75 * 1.2rem, 1.75 * 2vw, 1.75 * 1.4rem);
    letter-spacing: -5%;
    margin-top: .8rem;
}

.idea-box__caption:first-child {
    min-height: fit-content;
    min-width: fit-content;
}

.idea-box__caption p {
    margin-left: .8rem;
}

.figure-container {
    display: flex;
    column-gap: 1rem;
    width: 100%;
    margin: 2.4rem auto;
}

.figure-container.half-width {
    width: 50%;
    margin: 2.4rem auto;
}

.figure-container > figure
{
    flex-grow: 1;
}

.figure-container > figure,
.figure-container > figure > img, 
.figure-container > figure > picture, 
.figure-container > figure > picture > img
{
    width: 100%;
}

.figure-container > figure > figcaption
{
    font-size: clamp(1.2rem, 2.2vw, 1.4rem);
    color: var(--black);
    text-align: center;
    margin: .8rem auto 0 auto;
    font-weight: 600;
    line-height: 175%;
    width: 90%;
    max-width: 57ch;
}

.figcap-title
{
    font-weight: 600;
    color: var(--blue);
}

/* Elements */
.project-info {
    width: 50%;
    margin: 1.6rem auto 0;
    background-color: hsla(216, 10%, 90%, .5);
    border-radius: .4rem;
}

/* .project-info > * {
    margin: 1.6rem 0;
} */

.info-line {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    line-height: 3rem;
    font-weight: 500;
    color: var(--gray-dark);
}

.info-line > * {
    margin-left: .8rem;
    padding: .8rem 0;
}

.case-study__section {
    width: 100%;
    margin-top: 4rem;
}

.problem-statement, .info-tidbits {
    width: 50%;
    margin: 2.4rem auto 0;
}

.problem-statement__text {
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    font-weight: 500;
    color: var(--black);
    line-height: 2.8rem;
    max-width: 70ch;
}

.tidbit-title, .tidbit-paragraph {
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    line-height: 2.8rem;
}

/* .case-study__section > * {
    width: 100%;
} */

/* @media (prefers-color-scheme: dark)
{
    .emphasized {
        background-color: transparent;
        color: var(--blue-dark-mode);
        padding: 0;
    }

    .list-item {
        color: var(--gray-light);
    }
    
    .intrapage-nav {
        border-bottom: 1px solid var(--gray-dark);
    }

    .intrapage-nav__link {
        color: var(--gray-light);
        background-color: var(--background-dark-mode);
    }

    .intrapage-nav__link:hover {
        color: var(--blue-dark-mode);
        background-color: transparent;
        cursor: pointer;
    }

    .project-title {
        color: var(--white);
    }

    .section__title {
        color: var(--blue-dark-mode);
    }
    
    .subsection__title {
        text-align: left;
        color: var(--white);
    }

    .main-paragraph {
        color: var(--gray-light);
        font-weight: 500;
    }

    .figcap-title {
        color: var(--blue-dark-mode);
    }

    .figure-container > figure > figcaption {
        color: var(--white);
    }
} */

@media (max-width: 749px) {
    .case-study {
        width: 90%;
        margin: 0 auto;
    }

    .scroll-to-top {
        top: 75vh;
    }

    .intrapage-nav::after {
        content: "Scroll →";
        font-family: 'Kalam', cursive;
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--blue);
        margin: .5rem 1rem 0 0;
        float: right;
        clear: both;
    }
    
    /* Text */
    .list {
        font-size: 1.6rem;
        width: 100%;
    }

    .section__title, .subsection__title {
        font-size: 1.6rem;
        width: 100%;
    }

    .main-paragraph {
        width: 100%;
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    .problem-statement, .info-tidbits {
        width: 100%;
    }

    /* Media */
    .idea-box {
        width: 100%;
    }

    .figure-container {
        flex-direction: column;
    }

    .figure-container.half-width {
        width: 100%;
    }

    .figure-container > figure + figure {
        margin-top: 2rem;
    }

    .figure-container > figure > figcaption
    {
        width: 100%;
    }

    /* Elements */
    .project-info {
        width: 100%;
        padding: 0;
    }
}