.project {
  width: 44%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 200rem;
}

.case-study {
  width: 100%;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

.emphasized {
  font-weight: 600;
  letter-spacing: normal;
}

.list {
  font-size: 1.56rem;
  font-weight: 400;
  width: 100%;
  letter-spacing: 0.02rem;
  line-height: 2.64rem;
  list-style-position: outside;
  padding-left: 4%;
}

.list-item {
  font-weight: 400;
  /* list-style-position: inside; */
}

.list-item + .list-item {
  margin-top: 0.8rem;
}

.scroll-to-top {
  text-align: center;
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 85vh;
  right: 5%;
  font-size: 3rem;
  border: none;
  border-radius: 50%;
  color: var(--white);
  background-color: hsla(217, 67%, 48%, 90%);
  padding: 1rem;
  box-shadow: 0 0.2rem 1rem hsla(0, 0%, 15%, 20%);
  z-index: 9999;
  transition: transform ease 200ms;
}

.scroll-to-top:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
  transition: transform ease-in-out 200ms;
}

.scroll-to-top:focus {
  border: 0.2rem dashed var(--white);
}

/* Header */
.back-btn {
  font-size: 1.72rem;
  color: var(--black);
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0.8rem;
  border: 0.1rem solid hsl(0, 0%, 90%);
  border-radius: 0.4rem;
  letter-spacing: -0.02rem;
  font-weight: 600;
  transition: background-color 150ms ease;
}

.back-btn:hover {
  background-color: hsl(0, 0%, 92%);
}

.back-btn > svg {
  margin-right: 0.4rem;
  margin-bottom: 0.35rem;
}

/* Intrapage Navigation */
.intrapage-nav {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  /* margin-top: -.4rem; */
}

.intrapage-nav__link-list {
  margin: 0;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
  overflow-x: scroll;
}

.intrapage-nav__link {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 0;
  padding: 2rem;
  flex-grow: 1;
  text-align: center;
  transition: all ease-in 150ms;
}

.intrapage-nav__link:hover {
  color: var(--blue);
  background-color: var(--blue-light);
  cursor: pointer;
}

.intrapage-nav__link:focus {
  border: 0.2rem dashed var(--blue);
}

/* Text */
h1,
h2,
h3,
h4 {
  font-weight: 700;
  letter-spacing: normal;
}

.case-study__section {
  width: 100%;
}

.case-study__section + .case-study__section {
  margin-top: 5.2rem;
  /* border-top: 0.1rem solid var(--black);
  border-top-style: dotted; */
  padding-top: 6rem;
}

.case-study__section > :not(:first-child) {
  margin-top: 2rem;
}

.project-title {
  width: 100%;
  color: var(--black);
  font-size: clamp(1.6rem, 3vw, 2rem);
  line-height: clamp(
    calc(1.75 * 1.64rem),
    calc(1.75 * 1.36vw),
    calc(1.85 * 2.2rem)
  );
  margin: 4rem auto 2rem;
}

.paragraph-heading {
  font-weight: 600;
  font-size: 1.6rem;
  margin: 0 auto 2rem;
}

.main-paragraph {
  font-size: 1.56rem;
  font-weight: 400;
  width: 100%;
  letter-spacing: 0.02rem;
  line-height: 2.64rem;
  color: var(--black);
  /* font-size: clamp(1.32rem, 1.8vw, 1.8rem); */
  /* margin: 0 auto; */
}

.main-paragraph + .main-paragraph {
  margin-top: 2.4rem;
}

/* Media */
.idea-box {
  /* background-color: rgba(227, 229, 232, 50%); */
  width: 100%;
  margin: 2.4rem auto;
  /* border-radius: 0.4rem; */
  max-height: 50rem;
  overflow: hidden;
}

.idea-box-blurred {
  filter: blur(0.8rem);
}

.idea-box__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 0.8rem; */
  /* border: 0.1rem solid hsl(0, 0%, 90%); */
  height: fit-content;
  overflow: hidden;
}

.idea-box__img-container * {
  /* border-radius: 0.4rem; */
  transition: filter 200ms ease;
  object-position: center;
  width: 100%;
}

.idea-box__caption {
  display: flex;
  align-items: flex-start;
  font-size: clamp(1rem, 0.8vw, 1.4rem);
  color: var(--gray);
  font-weight: 600;
  line-height: clamp(1.75 * 1.2rem, 1.75 * 2vw, 1.75 * 1.4rem);
  letter-spacing: -0.04rem;
  margin-top: 0.4rem;
}

.idea-box__caption:first-child {
  min-height: fit-content;
  min-width: fit-content;
}

.idea-box__caption p {
  margin-left: 0.4rem;
}

.figure-container {
  /* margin: 2.4rem auto; */
  width: 100%;
}

.figure-container figure {
  overflow: hidden;
  width: 100%;
}

.figure-container figure > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.figure-container + .main-paragraph,
.figure-container + .paragraph-heading,
.main-paragraph + .figure-container {
  margin-top: 4rem;
}

.figure-container figcaption {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  color: var(--gray-dark);
}

/* Code Block */
.code-editor {
  font-family: 'Space Mono', monospace;
  width: 100%;
  background-color: #ffffff;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 2px;
}

.code-editor > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.code-editor .header > .title {
  font-weight: 500;
  font-size: 1.52rem;
  letter-spacing: -0.025rem;
  color: var(--black);
}

.editor-content {
  width: 100%;
  margin: 0 1rem 1rem;
  color: var(--black);
}

.code::selection {
  background-color: var(--gray-light);
}

.editor-content .code {
  font-family: 'Space Mono', monospace;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.32rem;
  letter-spacing: -0.025rem;
  width: 100%;
}

.editor-content .code > .selector:not(:first-of-type) {
  margin-top: 1.6rem;
}

.code .comment {
  color: hsl(0, 0%, 60%);
  font-style: italic;
}

.code > p.newline {
  margin-top: 1.6rem;
}

.code .level-1 {
  margin-left: 3rem;
}

.code .level-2 {
  margin-left: 5rem;
}

.code .level-3 {
  margin-left: 7rem;
}

.code .level-4 {
  margin-left: 9rem;
}

.property:hover {
  cursor: text;
}

.editor-content .color-blue {
  color: rgb(29, 113, 215);
}

.editor-content .color-purple {
  color: rgb(116, 27, 242);
}

.editor-content .color-green {
  color: rgb(48, 159, 166);
}

.editor-content .color-red {
  color: rgb(185, 10, 10);
}

.editor-content .color-yellow {
  color: rgb(182, 153, 10);
}
.color-preview-1,
.color-preview-2 {
  height: 8px;
  width: 8px;
  border: 1px solid #fff;
  display: inline-block;
  margin-right: 3px;
}

.color-preview-1 {
  background-color: #1d1e22;
}

.color-preview-2 {
  background-color: rgba(0, 0, 0, 0.5);
}

/* @media (min-width: 700px) and (max-width: 999px) {
  .project {
    width: 80%;
    margin: 0 auto;
  }
} */

@media (max-width: 999px) {
  .project {
    width: 100%;
    margin: 0 auto;
  }

  .case-study {
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 0;
  }

  /* Text */
  .project-title {
    width: 100%;
    font-size: clamp(1.6rem, 3vw, 2rem);
    color: var(--black);
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .paragraph-heading {
    font-size: clamp(1.6rem, 2.72vw, 1.84rem);
  }

  .main-paragraph {
    line-height: 2.8rem;
  }

  .header-nav,
  .project-title,
  .paragraph-heading,
  .main-paragraph,
  .list,
  .code-editor {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

  /* Media */
  .idea-box__caption {
    display: none;
  }

  .figure-container + .main-paragraph,
  .main-paragraph + .figure-container {
    margin-top: 4rem;
  }

  .figure-container figcaption {
    margin-left: 6%;
  }

  /* Code Block */
  .code-editor .header > .title {
    font-size: 1.6rem;
  }

  .editor-content .code {
    font-size: 1.6rem;
    line-height: 2.32rem;
  }
}
