@media (max-width: 749px) {
    .title-block {
        grid-column: 1 / -1;
        grid-row: auto / auto;
    }
    
    .content__text {
        line-height: 20px;
        font-size: 0.8em;
        grid-column: 1 / 12;
        grid-row: auto / 3;
    }
}

@media (min-width: 750px) {
    .title-block {
        grid-column: 1 / -1;
        grid-row: auto / auto;
    }
    
    .content__text {
        margin-left: 3%;
        line-height: 20px;
        font-size: 0.8em;
        grid-column: 1 / 12;
        grid-row: auto / 3;
    }
}
