/* Home Page Styling */
.home-page-container {
  margin-top: 1rem;
  width: 85%;
  max-width: 85%;
}

.about-heading, .about-subheading {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
}

.about-heading {
  line-height: 4rem;
}

.about-subheading {
  margin-top: 1.5rem;
}

.contact {
  font-size: 1.8rem;
  letter-spacing: -0.01rem;
  margin-top: 1.5rem;
}

.contact__link {
  font-weight: 400;
}

@media (max-width: 719px) {
  .about-heading {
    font-size: 2rem;
    line-height: 3rem;
  }

  .about-subheading {
    font-size: 2rem;
    margin-top: 1.5rem;
    font-weight: 400;
  }

  .contact {
    line-height: 3rem;
  }
}
