/* Home Page Styling */
.home-page-container {
  margin: auto 0;
  width: 100%;
}

.home-page-section {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}

.home-page-section > * {
  width: 85%;
  margin: 0 auto;
}

.home-page-section:first-of-type {
  margin-bottom: 2rem;
}

.home-page-section__content > * {
  margin-top: 2rem;
}

.home-page-section__heading {
  font-family: "DM Serif Display", serif;
  font-size: clamp(2.5rem, 2.5vw, 5rem);
  width: 100%;
  letter-spacing: -.05rem;
}

.home-page-section__description {
  font-family: "Spartan", sans-serif;
  font-size: clamp(1.6rem, 1.4vw, 2rem);
  line-height: 2.5rem;
  width: 100%;
  max-width: 50ch;
}

.introduction > *:not(:first-child) {
  margin-top: 3rem;
}

.introduction p {
  font-size: clamp(1.6rem, 2vw, 2rem);
  font-weight: 400;
  line-height: 3rem;
  max-width: 50ch;
}

.about-heading,
.about-subheading {
  font-weight: 400;
  letter-spacing: -0.1rem;
}

.about-heading {
  align-items: center;
}

.about-heading p,
.handwave {
  font-size: 4rem;
  line-height: 3rem;
}

.about-heading p {
  font-size: 4rem;
  font-family: "DM Serif Display";
  line-height: 4rem;
}

.contact {
  line-height: 3rem;
}

.btn-container {
  justify-content: flex-start;
}

.btn-container > a {
  font-size: 1.4rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.resume_btn {
  border: 0.18rem solid hsl(0, 0%, 0%);
  font-weight: 500;
}

.resume_btn:hover {
  background-color: var(--blue-light);
}

.selected_work_btn {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 500;
  margin-left: 1rem;
}

.repo-highlights > .flex {
  display: flex;
  flex-direction: column;
}

.project-highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.2rem;
}

.project-highlights > *:not(:first-of-type) {
  margin-top: 4rem;
}

@media (min-width: 720px) {
  .home-page-section__description {
    line-height: 3rem;
    max-width: 50%;
  }
  
  .about-heading p {
    font-size: 6rem;
  }

  .contact__link {
    font-weight: 400;
  }

  .repo-highlights > .flex {
    flex-direction: row;
  }

  .project-highlights {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
  }
  
  .project-highlights > *:not(:first-of-type) {
    margin-top: 2rem;
  }
}

/* @media (prefers-color-scheme: dark) {
  .introduction p, .about-heading p, 
  .home-page-section__heading {
    color: var(--white);
  }

  .home-page-section__description {
    color: var(--gray-light);
  }

  .resume_btn {
    background-color: var(--white);
    border: none;
    font-weight: 500;
  }
} */
