/* Gallery Page Styling */

h1, h2 {
    color: #204969;
}

@media (min-width: 300px) and (max-width: 749px) {
    .no-content {
        display: grid;
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        margin-top: 50px;
    }

    .coming-soon-1 {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 3 / 10;
        text-align: center;
    }
    .coming-soon-2 {
        display: grid;
        grid-row: 3 / -1;
        grid-column: 4 / 9;
        text-align: center;
    }
    .coming-soon-img {
        width: 280px;
        display: grid;
        grid-row: 2 / 3;
        grid-column: 2 / 6;
    }
}

@media (min-width: 750px) and (max-width: 859px) {
    .no-content {
        display: grid;
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        margin-top: 50px;
    }

    .coming-soon-1 {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 4 / 9;
        text-align: center;
    }
    .coming-soon-2 {
        display: grid;
        grid-row: 3 / -1;
        grid-column: 4 / 9;
        text-align: center;
    }
    .coming-soon-img {
        width: 400px;
        display: grid;
        grid-row: 2 / 3;
        grid-column: 3 / -1;
        margin-left: 40px;
    }
}

@media (min-width: 860px) and (max-width: 1019px) {
    .no-content {
        display: grid;
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        margin-top: 50px;
    }

    .coming-soon-1 {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 5 / 9;
        text-align: center;
    }
    .coming-soon-2 {
        display: grid;
        grid-row: 3 / -1;
        grid-column: 5 / 9;
        text-align: center;
    }
    .coming-soon-img {
        width: 400px;
        display: grid;
        grid-row: 2 / 3;
        grid-column: 4 / -1;
        margin-left: 40px;
    }
}

@media (min-width: 1020px) and (max-width: 1399px) {
    .no-content {
        display: grid;
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        margin-top: 50px;
    }

    .coming-soon-1 {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 5 / 9;
        text-align: center;
    }
    .coming-soon-2 {
        display: grid;
        grid-row: 3 / -1;
        grid-column: 5 / 9;
        text-align: center;
    }
    .coming-soon-img {
        width: 500px;
        display: grid;
        grid-row: 2 / 3;
        grid-column: 4 / -1;
        margin-left: 80px;
    }
}

@media (min-width: 1400px) and (max-width: 3000px) {
    .no-content {
        display: grid;
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        margin-top: 50px;
    }

    .coming-soon-1 {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 5 / 9;
        text-align: center;
    }
    .coming-soon-2 {
        display: grid;
        grid-row: 3 / -1;
        grid-column: 5 / 9;
        text-align: center;
    }
    
    .coming-soon-img {
        width: 500px;
        display: grid;
        grid-row: 2 / 3;
        grid-column: 4 / -1;
        margin-left: 100px;
    }
}