/* General Styling */
@media (max-width: 549px) {
    .logo {
        width: 10px;
    }

    .logo img {
        height: 30px;
        margin-left: 10px;
        margin-right: auto;
        margin-top: 8px;
    }

    header {
        background-color: #edf2f4;
        width: 100%;
        height: 50px;
        display: flex;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        position: sticky;
        top: 0px;
        left: 0px;
    }

    .navbar {
        margin-left: auto;
    }

    .navbar a {
        color: #204969;
    }

    .navbar ul {
        color: #204969;
        float: right;
        margin-right: 5px;
    }

    .navbar li {
        display: inline;
        margin-right: 5px;
        font-size: 0.7em;
    }

    .navbar li:hover {
        border-bottom: 1px solid #08ffc8;
    }

    .active {
       border-bottom: 1px solid #08ffc8; 
    }

    body {
        background-color: #edf2f4;
        height: auto;
    }

    h1, h2, h3, ul, li {
        font-family: 'IBM Plex Serif', sans-serif; text-decoration: none; 
    }

    p, a {
        font-family: 'Nunito', sans-serif; text-decoration: none;
    }

    /* Footer Styling */
    footer {
        width: 100%;
        background-color: #204969;
        height: 100px;
        display: flex;
        grid-row: auto / -1;
        grid-column: 1 / -1;
    }

    footer .rightfoot {
        margin-left: auto;
    }

    footer p {
        font-family: 'Nunito', sans-serif;
    }

    footer .leftfoot {
        margin-left: 15px;
    }

    .leftfoot i {
        display: inline;
        font-size: 1.45em;
        margin-left: 5px;
        color: #edf2f4;
    }

    .rightfoot {
    }

    .rightfoot p {
        margin-top: 40px;
        font-size: 0.7em;
        margin-right: 5px;
        color: #edf2f4;
    }

    .icons {
        margin-top: 40px;
        margin-left: 0px;
    }

    /* Button Styles */
    button {
        font-family: 'Nunito', sans-serif;
    }

    .bluebutton {
        color: #204969;
        background-color: transparent;
    }

    .bluebutton:hover {
        background-color: #204969;
        color: #08ffc8;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .sq-lg {
        width: 175px;
        border: 1px solid #204969;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 0.8em;
    }

    .sq-sm {
        width: 150px;
        border: 1px solid #204969;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 0.6em;
    }

    .rd-lg {
        width: 150px;
        border-radius: 30px;
        border: 1px solid #204969;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 0.8em;
    }

    .rd-sm {
        border-radius: 30px;
        width: 130px;
        border: 1px solid #204969;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 0.6em;
    }

}
@media (min-width: 550px) {
    .logo {
        width: 50px;
    }

    .logo img {
        height: 50px;
        margin-left: 20px;
        margin-right: auto;
    }

    header {
        background-color: #edf2f4;
        width: 100%;
        height: 50px;
        display: flex;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        position: sticky;
        top: 0px;
        left: 0px;
    }

    .navbar {
        margin-left: auto;
    }

    .navbar a {
        color: #204969;
    }

    .navbar ul {
        color: #204969;
        float: right;
        margin-right: 10px;
    }

    .navbar li {
        display: inline;
        margin-right: 20px;
        font-size: 0.9em;
    }

    .navbar li:hover {
        border-bottom: 1px solid #08ffc8;
    }

    .active {
       border-bottom: 1px solid #08ffc8; 
    }

    body {
        background-color: #edf2f4;
        height: auto;
    }

    h1, h2, h3, ul, li {
        font-family: 'IBM Plex Serif', sans-serif; text-decoration: none; 
    }

    p, a {
        font-family: 'Nunito', sans-serif; text-decoration: none;
    }

    /* Footer Styling */
    footer {
        width: 100%;
        background-color: #204969;
        height: 100px;
        display: flex;
        grid-row: auto / -1;
        grid-column: 1 / -1;
    }

    footer .rightfoot {
        margin-left: auto;
    }

    footer p {
        font-family: 'Nunito', sans-serif;
    }

    footer .leftfoot {
        margin-left: 15px;
    }

    .leftfoot i {
        display: inline;
        font-size: 1.65em;
        margin-left: 15px;
        color: #edf2f4;
    }

    .rightfoot {
    }

    .rightfoot p {
        margin-top: 40px;
        font-size: 0.8em;
        margin-right: 20px;
        color: #edf2f4;
    }

    .icons {
        margin-top: 40px;
        margin-left: 0px;
    }

    /* Button Styles */
    button {
        font-family: 'Nunito', sans-serif;
    }

    .bluebutton {
        color: #204969;
        background-color: transparent;
    }

    .bluebutton:hover {
        background-color: #204969;
        color: #08ffc8;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .sq-lg {
        width: 175px;
        border: 1px solid #204969;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 0.8em;
    }

    .sq-sm {
        width: 150px;
        border: 1px solid #204969;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 0.6em;
    }

    .rd-lg {
        width: 150px;
        border-radius: 30px;
        border: 1px solid #204969;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 0.8em;
    }

    .rd-sm {
        border-radius: 30px;
        width: 130px;
        border: 1px solid #204969;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 0.6em;
    }

}


