/* Vertical Card Styling */
    .card-vertical {
        width: 400px;
        height: 550px;
        background-color: F6F3F3;
        box-shadow: 0px 4px 8px 0px darkgray;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    .card-vertical > * {
        display: block;
        width: 100%;
    }

    .card-image {
        width: 100%;
    }

    .card-description {
        margin-left: 10px;
        margin-right: 10px;
    }

    .card-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
    }

    .github-logo {
        height: auto;
        width: 50px;
    }

    .project-link {
        font-size: 1rem;
        padding-top: 5px;
    }

.portfolio-content {
    margin-left: 40px;
}

/* Portfolio Page Styling */
@media (min-width: 300px) and (max-width: 659px) {
    .portfolio-content {
        display: grid;
        grid-row: 1 / 3;
        grid-column: 1 / -1;
        margin-top: 60px;
        margin-bottom: 10px;
    }
}
@media (min-width: 660px) and (max-width: 859px) {
    .portfolio-content {
        display: grid;
        grid-row: 1 / 3;
        grid-column: 1 / -1;
        margin-top: 60px;
        margin-bottom: 10px;
    }
}
@media (min-width: 860px) and (max-width: 1019px) {
    .portfolio-content {
        display: grid;
        grid-row: 1 / 3;
        grid-column: 1 / -1;
        margin-top: 60px;
        margin-bottom: 10px;
    }
}
@media (min-width: 1020px) and (max-width: 1399px) {
    .portfolio-content {
        display: grid;
        grid-row: 1 / 3;
        grid-column: 1 / -1;
        margin-top: 60px;
        margin-bottom: 10px;
    }

}
@media (min-width: 1400px) and (max-width: 3000px) {
    .portfolio-content {
        display: grid;
        grid-row: 1 / 3;
        grid-column: 1 / -1;
        margin-top: 60px;
        margin-bottom: 10px;
    }
}
