/* Portfolio Page Styling */
@media (min-width: 300px) and (max-width: 659px) {
    .portfolio-content {
        display: grid;
        grid-row: 1 / 3;
        grid-column: 1 / -1;
        margin-top: 60px;
        margin-bottom: 10px;
    }

    .projectbox {
        height: auto;
    }
    
    .pb-thumbnail {
        position: relative;
        grid-column: 1 / 6; 
        grid-row: 1 / 2;
    }
    
    .pb-detail {
        display: grid;
        grid-column: 4 / -1;
        grid-row: 1 / 3;
        background-color: #204969;
        border-radius: 10px;
        box-shadow: 0px 4px 8px 0px gray;
    }

    .proj-title {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 8 / -1;
        margin-top: 70px;
        margin-right: 20px;
        text-align: center;
        font-size: 1rem;
    }

    .proj-explain {
        display: grid;
        grid-row: 2 / 3;
        grid-column: 2 / 12;
        margin-top: 50px;
        font-size: 0.9rem;
        padding-top: 25px;
    }
    
    .proj-title, .proj-explain {
        color: #edf2f4;
    }

    .img-container {
        width: 230px;
        height: auto;
        border-radius: 10px;
    }

    .techstack {
        display: grid;
        grid-row: 3 / 3;
        grid-column: 1 / -1;
    }

    .techtype {
        display: inline;
        color: #edf2f4;
        width: auto;
        border: 1px solid #08ffc8;
        border-radius: 5px;
        font-family: 'Nunito', sans-serif;
        font-size: 0.7rem;
        padding: 5px;
        margin-left: 10px;
    }
}
@media (min-width: 660px) and (max-width: 859px) {
    .portfolio-content {
        display: grid;
        grid-row: 1 / 3;
        grid-column: 1 / -1;
        margin-top: 60px;
        margin-bottom: 10px;
    }

    .projectbox {
        height: auto;
    }
    
    .pb-thumbnail {
        position: relative;
        grid-column: 1 / 6; 
        grid-row: 1 / 2;
    }
    
    .pb-detail {
        display: grid;
        grid-column: 4 / -1;
        grid-row: 1 / 3;
        background-color: #204969;
        border-radius: 10px;
        box-shadow: 0px 4px 8px 0px gray;
    }

    .proj-title {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 5 / -1;
        margin-top: 70px;
        text-align: center;
        font-size: 1rem;
    }

    .proj-explain {
        display: grid;
        grid-row: 2 / 3;
        grid-column: 2 / 12;
        margin-top: 110px;
        font-size: 0.9rem;
        padding-top: 25px;
    }
    
    .proj-title, .proj-explain {
        color: #edf2f4;
    }

    .img-container {
        width: 375px;
        height: auto;
        border-radius: 10px;
    }

    .techstack {
        display: grid;
        grid-row: 3 / 3;
        grid-column: 1 / -1;
        margin-left: 20%;
    }

    .techtype {
        display: inline;
        color: #edf2f4;
        width: auto;
        border: 1px solid #08ffc8;
        border-radius: 5px;
        font-family: 'Nunito', sans-serif;
        font-size: 0.9rem;
        padding: 5px;
        margin-left: 10px;
    }
}
@media (min-width: 860px) and (max-width: 1019px) {
    .portfolio-content {
        display: grid;
        grid-row: 1 / 3;
        grid-column: 1 / -1;
        margin-top: 60px;
        margin-bottom: 10px;
    }

    .projectbox {
        height: auto;
    }
    
    .pb-thumbnail {
        position: relative;
        grid-column: 1 / 6; 
        grid-row: 1 / 2;
    }
    
    .pb-detail {
        display: grid;
        grid-column: 4 / -1;
        grid-row: 1 / 3;
        background-color: #204969;
        border-radius: 10px;
        box-shadow: 0px 4px 8px 0px gray;
    }

    .proj-title {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 4 / -1;
        margin-top: 70px;
        text-align: center;
        font-size: 1.3rem;
    }

    .proj-explain {
        display: grid;
        grid-row: 2 / 3;
        grid-column: 2 / 12;
        margin-top: 110px;
        font-size: 0.9em;
        padding-top: 25px;
    }
    
    .proj-title, .proj-explain {
        color: #edf2f4;
    }

    .img-container {
        width: 400px;
        height: auto;
        border-radius: 10px;
    }

    .techstack {
        display: grid;
        grid-row: 3 / 3;
        grid-column: 1 / -1;
        margin-left: 30%;
    }

    .techtype {
        display: inline;
        color: #edf2f4;
        width: auto;
        border: 1px solid #08ffc8;
        border-radius: 5px;
        font-family: 'Nunito', sans-serif;
        font-size: 0.9rem;
        padding: 5px;
        margin-left: 10px;
    }
}
@media (min-width: 1020px) and (max-width: 1399px) {
    .portfolio-content {
        display: grid;
        grid-row: 1 / 3;
        grid-column: 1 / -1;
        margin-top: 60px;
        margin-bottom: 10px;
    }

    .projectbox {
        height: auto;
    }
    
    .pb-thumbnail {
        grid-column: 2 / 6; 
        grid-row: 1 / -1;
        margin-top: 50px;
    }
    
    .pb-detail {
        display: grid;
        grid-column: 7 / 12;
        grid-row: 1 / -1;
        background-color: #204969;
        border-radius: 10px;
        box-shadow: 0px 4px 8px 0px gray;
    }

    .proj-title {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        text-align: center;
    }

    .proj-explain {
        display: grid;
        grid-row: 2 / -3;
        grid-column: 2 / 12;
        font-size: 0.9em;
    }
    
    .proj-title, .proj-explain {
        color: #edf2f4;
    }

    .img-container {
        width: 450px;
        height: auto;
        border-radius: 10px;
    }

    .techstack {
        display: grid;
        grid-row: 3 / 3;
        grid-column: 1 / -1;
        margin-left: 22%;
    }

    .techtype {
        display: inline;
        color: #edf2f4;
        width: auto;
        border: 1px solid #08ffc8;
        border-radius: 5px;
        font-family: 'Nunito', sans-serif;
        font-size: 0.9rem;
        padding: 5px;
        margin-right: 10px;
    }
}
@media (min-width: 1400px) and (max-width: 3000px) {
    .portfolio-content {
        display: grid;
        grid-row: 1 / 3;
        grid-column: 1 / -1;
        margin-top: 60px;
        margin-bottom: 10px;
    }

    .projectbox {
        height: auto;
    }
    
    .pb-thumbnail {
        grid-column: 2 / 6; 
        grid-row: 1 / -1;
    }
    
    .pb-detail {
        display: grid;
        grid-column: 7 / 12;
        grid-row: 1 / -1;
        background-color: #204969;
        border-radius: 10px;
        box-shadow: 0px 4px 8px 0px gray;
    }

    .proj-title {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        text-align: center;
    }

    .proj-explain {
        display: grid;
        grid-row: 2 / -3;
        grid-column: 2 / 12;
        font-size: 1rem;
    }
    
    .proj-title, .proj-explain {
        color: #edf2f4;
    }

    .img-container {
        width: 560px;
        height: auto;
        border-radius: 10px;
    }

    .techstack {
        display: grid;
        grid-row: 3 / 3;
        grid-column: 1 / -1;
        margin-left: 25%;
    }

    .techtype {
        display: inline;
        color: #edf2f4;
        width: auto;
        border: 1px solid #08ffc8;
        border-radius: 5px;
        font-family: 'Nunito', sans-serif;
        font-size: 0.9rem;
        padding: 5px;
        margin-right: 10px;
    }
}
