.projects {
    width: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(62.5rem, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    justify-items: center;
    row-gap: 2rem;
}

.projects-listing {
    width: 62.5rem;
    height: 35rem;
    position: relative;
    background-color: rgb(50, 50, 50);
}

.projects-listing__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Project Pages */
.project-introduction {
    display: flex;
    flex-direction: column;
}

.project-introduction__text {
    width: 100%;
}

.project-introduction__text * {
    margin-top: -2rem;
}

.project-introduction__title {
    font-size: 3rem;
}

.project-introduction__text > p {
    font-size: 1.6rem;
}

.date-range {
    color: var(--gray);
    text-transform: uppercase;
}

.project-introduction__image {
    align-self: center;
    max-width: 25%;
}

.project-case-study {
    margin-top: 5rem;
}

.project-case-study p {
    font-size: 1.8rem;
    width: 50%;
}

section + section {
    padding-top: 2rem;
}

section > * {
    padding-top: 3rem;
}

.section-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--orange);
}

.artifact {
    width: 100%;
}

figcaption {
    font-size: 1.4rem;
    color: var(--gray);
    text-align: center;
    font-style: italic;
    margin-top: 0.5rem;
}

@media (max-width: 719px) {
    .project-introduction__image {
        max-width: 50%;
    }

    .project-case-study p {
        font-size: 1.8rem;
        width: 100%;
    }
}

@media (max-width: 1329px) {
    .projects-listing {
        width: 100%;
        height: 35rem;
    }

    .projects {
        grid-template-columns: 100%;
    }
}