/* Resume Page Styling */
@media (min-width: 300px) and (max-width: 749px) {
    .content-blue {
        display: grid;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        width: auto;
        margin-right: auto; 
        margin-left: auto;
        margin-top: 60px;
        padding-bottom: 30px;
        background-color: #204969;
        box-shadow: 0px 4px 8px 0px gray;
    }

    .content-blue a {
        color: #08ffc8;
    }

    .content-blue a:hover {
        border-bottom: 1px solid #08ffc8;
    }

    .contact {
        text-align: center; 
        line-height: 10px; 
        padding-top: 20px
    }

    .topname {
        color: #fff;
        font-size: 1.3em;
    }

    .objective {
        text-align: left; 
        line-height: 10px
    }

    .objectivetext {
        font-size: 15px; 
        text-align: center;
        padding-left: 30px; 
        padding-right: 30px; 
        line-height: 15px
    }

    .border {
        border-bottom: solid;
    }

    .horizontal {
        width: 200px
    }

    .sectiontitle {
        padding-left: 30px; 
        color: #fff;
    }

    .position {
        font-size: 0.7rem;
        font-weight: bold;
    }

    .company {
        font-style: italic; 
        text-align: left; 
        font-size: 0.7rem;
    }

    .date {
        font-size: 0.7rem;
    }
    
    .position, .company, .date {
        padding-left: 30px;
        font-size: 0.7rem;
    }

    .description {
        padding-left: 80px; 
        padding-right: 10px;
        font-size: 0.8rem;
        text-align: left
    }

    .sectionborder {
        width: 300px;
    }

    .sectiontitle, .description, .date, .company, .position, .objectivetext, .contactp {
        color: #fff7f7;
    }

    #resumebutton {
        display: grid;
        justify-content: center;
        grid-column: 1 / 10;
        grid-row: 3 / 4;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 100px;
    }
}

@media (min-width: 750px) and (max-width: 859px) {
    .content-blue {
        display: grid;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        width: auto;
        margin-right: auto; 
        margin-left: auto;
        margin-top: 60px;
        padding-bottom: 30px;
        background-color: #204969;
        box-shadow: 0px 4px 8px 0px gray;
    }

    .content-blue a {
        color: #08ffc8;
    }

    .content-blue a:hover {
        border-bottom: 1px solid #08ffc8;
    }

    .contact {
        text-align: center; 
        line-height: 10px; 
        padding-top: 20px
    }

    .topname {
        color: #fff;
    }

    .objective {
        text-align: left; 
        line-height: 10px
    }

    .objectivetext {
        font-size: 15px; 
        padding-left: 100px; 
        padding-right: 100px; 
        line-height: 15px
    }

    .border {
        border-bottom: solid;
    }

    .horizontal {
        width: 200px
    }

    .sectiontitle {
        padding-left: 30px; 
        color: #fff;
    }

    .position {
        padding-left: 80px;
    }

    .company {
        font-style: italic; 
        text-align: left;
        padding-left: 80px;
    }

    .date {
        font-weight: 600;
        margin-right: 40px;
    }
    
    .position, .company, .date {
        padding-left: 30px;
    }

    .description {
        padding-left: 130px; 
        padding-right: 50px; 
        text-align: left
    }

    .sectionborder {
        width: 500px;
    }

    .sectiontitle, .description, .date, .company, .position, .objectivetext, .contactp {
        color: #fff7f7;
    }

    #resumebutton {
        display: grid;
        grid-column: 6 / 12;
        grid-row: 3 / 4;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media (min-width: 860px) and (max-width: 1019px) {
    .content-blue {
        display: grid;
        grid-column: 2 / 12;
        grid-row: 2 / 3;
        width: auto;
        margin-right: auto; 
        margin-left: auto;
        margin-top: 60px;
        padding-bottom: 30px;
        background-color: #204969;
        box-shadow: 0px 4px 8px 0px gray;
    }

    .content-blue a {
        color: #08ffc8;
    }

    .content-blue a:hover {
        border-bottom: 1px solid #08ffc8;
    }

    .contact {
        text-align: center; 
        line-height: 10px; 
        padding-top: 20px
    }

    .topname {
        color: #fff;
    }

    .objective {
        text-align: left; 
        line-height: 10px
    }

    .objectivetext {
        font-size: 15px; 
        padding-left: 100px; 
        padding-right: 100px; 
        line-height: 15px
    }

    .border {
        border-bottom: solid;
    }

    .horizontal {
        width: 200px
    }

    .sectiontitle {
        padding-left: 30px; 
        color: #fff;
    }

    .position {
        padding-left: 80px;
    }

    .company {
        font-style: italic; 
        text-align: left;
        padding-left: 80px;
    }

    .date {
        font-weight: 600;
        margin-right: 40px;
    }
    
    .position, .company, .date {
        padding-left: 30px;
    }

    .description {
        padding-left: 130px; 
        padding-right: 50px; 
        text-align: left
    }

    .sectionborder {
        width: 500px;
    }

    .sectiontitle, .description, .date, .company, .position, .objectivetext, .contactp {
        color: #fff7f7;
    }

    #resumebutton {
        display: grid;
        grid-column: 6 / 8;
        grid-row: 3 / 4;
        margin-bottom: 10px;
        margin-top: 10px;
    }

}

@media (min-width: 1020px) and (max-width: 1399px) {
    .content-blue {
        display: grid;
        grid-column: 2 / 12;
        grid-row: 2 / 3;
        width: auto;
        margin-top: 60px;
        padding-bottom: 30px;
        background-color: #204969;
        box-shadow: 0px 4px 8px 0px gray;
    }

    .content-blue a {
        color: #08ffc8;
    }

    .content-blue a:hover {
        border-bottom: 1px solid #08ffc8;
    }

    .contact {
        text-align: center; 
        line-height: 10px; 
        padding-top: 20px
    }

    .topname {
        color: #fff;
    }

    .objective {
        text-align: left; 
        line-height: 10px
    }

    .objectivetext {
        font-size: 15px; 
        padding-left: 100px; 
        padding-right: 100px; 
        line-height: 15px
    }

    .border {
        border-bottom: solid;
    }

    .horizontal {
        width: 200px
    }

    .sectiontitle {
        padding-left: 30px; 
        color: #fff;
    }

    .position {
        padding-left: 80px;
    }

    .company {
        font-style: italic; 
        text-align: left; 
        padding-left: 80px;
    }

    .date {
        font-weight: 600;
        margin-right: 40px;
    }
    
    .position, .company, .date {
        padding-left: 30px;
    }

    .description {
        padding-left: 130px; 
        padding-right: 50px; 
        text-align: left
    }

    .sectionborder {
        width: 500px;
    }

    .sectiontitle, .description, .date, .company, .position, .objectivetext, .contactp {
        color: #fff7f7;
    }

    #resumebutton {
        display: grid;
        grid-column: 6 / -1;
        grid-row: 3 / 4;
        margin-bottom: 10px;
        margin-top: 10px;
    }

}

@media (min-width: 1400px) and (max-width: 3000px) {
    .content-blue {
        display: grid;
        width: 900px;
        grid-column: 3 / 6;
        grid-row: 2 / 3;
        margin-top: 60px;
        padding-bottom: 30px;
        background-color: #204969;
        box-shadow: 0px 4px 8px 0px gray;
    }

    .content-blue a {
        color: #08ffc8;
    }

    .content-blue a:hover {
        border-bottom: 1px solid #08ffc8;
    }

    .contact {
        text-align: center; 
        line-height: 10px; 
        padding-top: 20px
    }

    .topname {
        color: #fff;
    }

    .objective {
        text-align: left; 
        line-height: 10px
    }

    .objectivetext {
        font-size: 15px; 
        padding-left: 100px; 
        padding-right: 100px; 
        line-height: 15px
    }

    .border {
        border-bottom: solid;
    }

    .horizontal {
        width: 200px
    }

    .sectiontitle {
        padding-left: 30px; 
        color: #fff;
    }

    .position {
        padding-left: 80px;
    }

    .company {
        font-style: italic; 
        text-align: left; 
        padding-left: 80px;
    }

    .date {
        font-weight: 600;
        margin-right: 40px;
    }

    .description {
        padding-left: 130px; 
        padding-right: 50px; 
        text-align: left
    }
    
    .position, .company, .date {
        padding-left: 30px;
    }

    .sectionborder {
        width: 500px;
    }

    .sectiontitle, .description, .date, .company, .position, .objectivetext, .contactp {
        color: #fff7f7;
    }

    #resumebutton {
        display: grid;
        grid-column: 6 / 8;
        grid-row: 3 / 4;
        margin-bottom: 10px;
        margin-top: 10px;
    }

}