:root {
    font-size: 62.5%;
    background-color: #111111;
    width: 100vw;
    --black: #212121;
    --orange: #fa3e00d8;
}

.white {
    color: white;
}

.underlined {
    text-decoration: underline;
}

.fadeIn {
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Oswald', sans-serif;
    margin: 0px auto;
    position: relative;
    width: calc(100% - 6rem);
}

section {
    width: 100%;
    padding: 1.5rem 0rem;
}

.container {
    width: 100%;
}

header {
    width: 100%;
}

header > * {
    padding: 1.5rem;
}

main {
    padding: 1.5rem
}

.navigation {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.row__column {
    max-width: 50%;
}

.row__column:not(:last-child) {
    padding-left: .5rem;
}

.header__nav {
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
}

.nav__title--main {
    font-size: 4.1rem;
    color: var(--orange);
}

.header__nav--item {
    font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-weight: 600;
}

p {
    font-size: 2.2rem;
    font-weight: 200;
    letter-spacing: .1rem;
    padding: 1rem 0rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    border: none;
    border-radius: .5rem;
    background-color: white;
    font-size: 1rem;
}

.btn:hover {
    cursor: pointer;
}

.section__title {
    font-size: 2rem;
}

li {
   list-style: none;
    font-weight: 200;
}

li:not(:first-child) {
    margin-left: 2rem;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

.list__item {
    font-size: 2.4rem;
    transition: all 250ms ease;
}

.list__item:hover {
    color: var(--orange);
}

@media (max-width: 720px) {
    p {
        font-size: 1.8rem;
        font-weight: 200;
        letter-spacing: .1rem;
        padding: 1rem 0rem;
    }

    .row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .row__column {
        max-width: 100%;
    }

    .row__column:not(:last-child) {
        padding-left: .5rem;
    }

    .list__item {
        font-size: 2rem;
    }
}
