/* General Styling */
:root {
    --cream: #F9F4EF;
    /* rgba(249, 244, 239, 1) */
    
    --ghost: #FFFFFE;
    /* rgba(255, 255, 254, 1) */
    
    --pumpkin: #F25042;
    /* rgba(242, 80, 66, 1) */
    
    --wetsand: #716040;
    /* rgba(113, 96, 64, 1) */
    
    --olive: #0A0A0A;
    /* rgba(10, 10, 10, 1) */
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    background-color: var(--cream);
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

button {
    border: none;
    background-color: transparent;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Playfair Display', serif;
}

/* Colors */
.black {
    color: var(--olive);
}

.orange {
    color: var(--pumpkin);
}

.brown {
    color: var(--wetsand);
}

.white {
    color: var(--ghost);
}

.offwhite {
    color: var(--cream);
}

/* Body Styling */
body {
    padding: 0px;
    margin: 0px;
    min-height: 100%;
}

section {
    height: 100vh;
}

article {
    display: block;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}

.work {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: auto;
    background-color: var(--olive);
    scroll-snap-type: x mandatory;
}

.home-role, .mobile-menu-role {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
}

.home-role {
    font-size: 1.8em;
    margin-top: 20vh;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-left: auto;
    margin-right: 20px;
    padding-left: 20px;
    position: sticky;
}

.navigation__link {
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin-right: 30px;
    margin-top: 15px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 12vh;
}

.down {
    position: absolute;
    bottom: 0;
    margin-left: 41vw;
    margin-bottom: 20vh;
}

.down i {
    font-size: 6vh;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.content {
    margin: 0px auto 10px;
    line-height: 0.5px;
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
}

.main {
    margin: 0px auto 0px;
    height: 80vh;
    width: calc(100% - 30px);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.portrait {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
    }
    
.landscape {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

.fadeIn {
    animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

button:hover {
    cursor: pointer;
}

@media (max-width: 749px) { 
    .grid-fluid {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-gap: 20px;
        justify-items: center;
    }
    
    .grid-regular {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto 50px;
    }
    
    .navigation {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .navigation__link {
        display: none;
    }
    
    #burger {
        margin: 3vh 0px 10px auto;
    }
    
    #burger i {
        font-size: 25px;
    }
    
    #menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: var(--pumpkin);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        visibility: hidden;
    }
    
    #manu-overlay nav {
        justify-content: center;
        align-content: center;
    }
    
    .menu-overlay__head {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 20px;
        padding: 0px;
    }
    
    .menu-overlay__name, .menu__name {
        list-style: none;
        font-family: 'Syncopate', sans-serif;
        font-weight: 700;
        font-size: 2em;
        letter-spacing: -5px;
    }
    
    .menu-overlay__name {
        margin: 20px auto 0px 0px;
    }
    
    .menu__name {
        margin: 20px auto 0px 0px;
    }
    
    .copyright {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: -1px;
        text-align: center;
        margin-top: auto;
    }
    
    #exit {
        margin: 17px 22px 0px auto;
        font-size: 25px;
    }
    
    .mobile-menu-role {
        margin-top: 60px;
        font-size: 1em;
    }
    
    .mobile-navigation {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        margin-bottom: 175px;
        align-items: center;
    }
    
    .mobile-navigation-link {
        list-style: none;
        color: var(--olive);
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 7px;
    }
    
    .socials {
        padding: 0px;
        display: flex;
        justify-content: flex-start;
        text-align: center;
    }
    
    .socials li:nth-child(1n + 2) {
        padding-left: 20px;
    }
    
    .photo-block--portrait {
        height: 320px;
        background-color: gray;
        overflow: hidden;
        position: relative;
        bottom: 18px;
        left: 5px;
        z-index: -1;
    }
    
    .photo-block--landscape {
        width: 325px;
        height: 200px;
        background-color: gray;
        overflow: hidden;
        position: relative;
        bottom: 0px;
        left: 0px;
        z-index: -1;
    }
}

@media (min-width: 750px) {
    .grid-fluid {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(601px, 1fr));
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-row-gap: 40px;
        justify-items: center;
    }
    
    .grid-regular {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 300px 200px 50px;
    }
    
    .menu__name {
        list-style: none;
        font-family: 'Syncopate', sans-serif;
        font-weight: 700;
        font-size: 2em;
        letter-spacing: -2px;
        margin-top: 30px;
        margin-left: 8%;
    }
    
    .content {
        width: calc(100% - 25px);
    }
    
    .page__title {
        font-size: 6em;
        font-family: "Syncopate", sans-serif;
        letter-spacing: -11px;
        line-height: 0.7em;
    }
    
    .home__name {
        font-size: 6em;
        font-family: "Syncopate", sans-serif;
        letter-spacing: -11px;
        line-height: 0.7em;
    }
    
    .role {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 1.1em;
        text-align: center;
    }
    
    .copyright {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 0.7em;
        letter-spacing: -1px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .title-block {
        grid-column: 1 / auto;
        grid-row: 1 / -1;
    }
    
    .photo-block--portrait {
        height: 400px;
        background-color: gray;
        overflow: hidden;
        position: relative;
        bottom: 110px;
        left: 5px;
        z-index: -1;
    }
    
    .photo-block--landscape {
        width: 600px;
        height: 300px;
        background-color: gray;
        overflow: hidden;
        position: relative;
        bottom: 0px;
        left: 5px;
        z-index: -1;
    }

    .photo-block__photo {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
    }
    
    .content__text {
        margin-left: 2%;
        line-height: 25px;
        grid-row: 2 / 3;
        grid-column: 1 / 6;
    }
    
    .social-nav {
        list-style: none;
        color: var(--olive);
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 25px;
        margin-top: 20px;
        margin-left: 16%;
        grid-row: 3 / -1;
        grid-column: 1 / 3;
    }
    
    .socials {
        padding: 0px;
        display: flex;
        justify-content: flex-start;
        margin-right: 10px;
        text-align: center;
        list-style: none;
    }
    
    .socials li:nth-child(1n + 2) {
        padding-left: 20px;
    }
    
    #menu-overlay, #burger {
        display: none;
    }
}
