/*Work Page Styling*/
.project-container {
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    border-radius: 3px;
}

.img-container {
    width: 90%;
}

.img-container img {
    object-position: center;
    width: 100%;
    filter: grayscale(100%);
}

.project:hover img {
    filter: grayscale(0%);
}

.project {
    margin: 0px auto 0px;
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    scroll-snap-align: start;
}

.project > * {
    margin-left: 20px;
}

.project__text {
    display: flex; 
    flex-direction: column;
}

.project-title {
    font-size: 5vh;
    font-weight: 400;
    letter-spacing: -0.05em;
}

.project-description, .project-stack {
    font-size: 2.2vh;
    font-weight: 400;
    text-align: left;
}

.project-description {
    width: 70vw;
    line-height: 1.5em;
}

@media (min-width: 750px) {
    .project-container {
        width: 90vw;
        height: 60vh;
        overflow: hidden;
        border-radius: 3px;
        z-index: 1;
    }
}
