/*Work Page Styling*/
@media (max-width: 749px) {
    .grid-fluid {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-gap: 20px;
        justify-items: center;
    }
    
    .project-container {
        width: 325px;
        height: 225px;
        overflow: hidden;
        border-radius: 3px;
    }

    .project-overlay {
        font-family: 'Oswald', sans-serif;
        text-align: center;
        position: absolute;;
        background-color: black;
        width: 325px;
        height: 203px;
        opacity: 0;
        z-index: 0;
    }

    .project-overlay h1 {
        visibility: hidden;
        color: var(--mintgreen);
        margin-top: 80px;
    }

    .project-container:hover .project-overlay {
        opacity: 80%;
    }

    /*
    .project-container:active .project-overlay {
        opacity: 80%;
    }
    */

    .project-container:hover .project-title {
        visibility: visible;
        opacity: 1;
    }

    .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .colored-buttons {
        display: flex;
        list-style: none;
        margin: 0px;
        padding: 0px;
        background-color: #cfcfcf;
    }

    .colored-buttons button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: red;
        border: none;
        margin-left: 5px;
    }

    .colored-buttons .red {
        background-color: red;
    }

    .colored-buttons .yellow {
        background-color: orange;
    }

    .colored-buttons .green {
        background-color: #5ab731;
    }
}

@media (min-width: 750px) {
    .grid-fluid {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(601px, 1fr));
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-row-gap: 40px;
        justify-items: center;
    }
    
    .project-container {
        width: 600px;
        height: 365px;
        overflow: hidden;
        border-radius: 3px;
    }

    .project-overlay {
        position: absolute;
        background-color: black;
        width: 600px;
        height: 347px;
        opacity: 0;
        z-index: 0;
    }

    .project-overlay h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 2em;
        text-align: center;
        visibility: hidden;
        color: var(--mintgreen);
        margin-top: 150px;
    }

    .project-container:hover .project-overlay {
        opacity: 80%;
    }

    /*
    .project-container:active .project-overlay {
        opacity: 80%;
    }
    */

    .project-container:hover .project-title {
        visibility: visible;
        opacity: 1;
    }

    .img-container img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        object-position: center;
    }

    .colored-buttons {
        display: flex;
        list-style: none;
        margin: 0px;
        padding: 0px;
        background-color: #cfcfcf;
    }

    .colored-buttons button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: red;
        border: none;
        margin-left: 5px;
    }

    .colored-buttons .red {
        background-color: red;
    }

    .colored-buttons .yellow {
        background-color: orange;
    }

    .colored-buttons .green {
        background-color: #5ab731;
    }
}
