/*Work Page Styling*/
.project-container {
    width: 90vw;
    height: 40vh;
    overflow: hidden;
    border-radius: 3px;
    z-index: 1;
}

.colored-buttons {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 5px;
    background-color: #cfcfcf;
}

.colored-buttons button {
    width: 2vw;
    height: 2vh;
    border-radius: 50%;
    background-color: red;
    border: none;
    margin-left: 5px;
}

.colored-buttons .red {
    background-color: red;
}

.colored-buttons .yellow {
    background-color: orange;
}

.colored-buttons .green {
    background-color: #5ab731;
}

.img-container img {
        width: 100%;
    }

.project {
    margin: 0px auto 0px;
    width: calc(100% - 10vw);
    height: 100vh;
    padding-top: 30px;
}

.project__text {
    display: flex; 
    flex-direction: column;
}

.project-title {
    font-size: 5vh;
    font-weight: 400;
    letter-spacing: -0.05em;
}

.project-link, .project-description, .project-stack {
    font-size: 2.3vh;
    font-weight: 400;
}

.project-description {
    width: 90vw;
    line-height: 1.5em;
}

.project-link {
    margin-top: 6vh;
}

@media (min-width: 750px) {
    .project-container {
        width: 90vw;
        height: 60vh;
        overflow: hidden;
        border-radius: 3px;
        z-index: 1;
    }
}
